# Enable URL rewriting

RewriteEngine On

# Redirect requests without .php extension to the .php file

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
